<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{home/layout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Watermelon</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid profile mb-5">
    <div class="row ">
        <div class="col-3">
            <div class="row">
                <a href="/user/profile">Tài khoản của tôi</a>
            </div>
            <div class="row mt-3">
                <a href="/user/profile/showchangepassword">Đổi mật khẩu</a>
            </div>
            <div class="row mt-3">
                <a href="/user/profile/showorder">Đơn hàng</a>
            </div>
        </div>
        <div class="col-9"
             style="background-color: #fff;width: 100%  ;  box-shadow: 0 0 0 0.2rem rgba(212, 212, 212, 0.25);">
            <form th:action="@{'/user/profile/changepassword'}" method="post">
                <div class="container-fluid m-4">
                    <div class="row">
                        <h3>Đổi mật khẩu</h3>
                    </div>
                    <div class="row">
                        <p>Quản lý mật khẩu</p>
                    </div>
                    <hr style="width: 700px;">
                    <div th:if="${messagechange != null}" class="alert alert-danger" style="font-size: 16px;padding: 5px 15px;border-radius: 99px;width:50%;margin-left:140px;margin-top: 10px"
                         >[[${messagechange}]]</div>
                    <hr style="width: 700px;">
                    <div class="row">
                        <div class="col-8">
                            <div class="row p-0 mt-3">
                                <div class="col-3 mt-2 text-right">
                                    <p>Mật khẩu cũ</p>
                                </div>
                                <div class="col-9">
                                    <input class="form-control" style="width: 80%;font-weight: 300;" value=""
                                           type="password"
                                           th:name="oldpassword" placeholder="********">
                                </div>
                            </div>
                            <div class="row p-0 mt-3">
                                <div class="col-3 mt-2 text-right">
                                    <p>Mật khẩu mới</p>
                                </div>
                                <div class="col-9">
                                    <input class="form-control" style="width: 80%;font-weight: 300;" value=""
                                           placeholder="********" type="password"
                                           name="newpassword">
                                </div>
                            </div>
                            <div class="row p-0 mt-3">
                                <div class="col-3 mt-2 text-right">
                                    <p>Xác nhận</p>
                                </div>
                                <div class="col-9">
                                    <input class="form-control" style="width: 80%;font-weight: 300;" value=""
                                           placeholder="********" type="password"
                                           th:name="confirmpassword">
                                </div>
                            </div>
                        </div>
                        <div class="col-4 pl-0">
                        </div>
                    </div>
                    <div class="row  p-0 mt-3">
                        <button type="submit" style="margin-left: 50px;" class="btn btn-primary" >Lưu
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>